<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />

/*Pre-loader Animation*/
.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}
 
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("http://i358.photobucket.com/albums/oo27/picturesqueworlds/Preloader_3_zpst0blaqic.gif") center no-repeat #fff;
}
 
 /*Logo*/
 
 #nav #pbrand {
  position: relative;
  top: -30px;
}

.logo img {
  padding-top: 5px;
  height: 68px;
  width: 70px;
}
 /*Body*/
 h2 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

h3, h4 {
  text-align: center;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

body {
  padding-top: 70px;
}

 /*Top picture*/
.tv-pic {
  background-image: linear-gradient(currentColor 1%, transparent 38%);
  background-size: 2px 2px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
 
.slider {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("http://i358.photobucket.com/albums/oo27/picturesqueworlds/comp4_zpsfibomdah.jpg");
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 1), 0 -0.5px 3px rgba(0, 0, 0, 0.9);
}

/*Navigation Arrows*/
.button-container button {
  background: transparent;
  outline: none;
  border: none;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.button-container {
  position: absolute;
  z-index: 10;
  top: 50%;
  width: 100%;
  height: 100%;
}

.button-container button i {
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 1);
}

.button-l {
  float: left;
}
 
.button-r {
  float: right;
}
 
 /*Circular button on the front page*/
#scrollSection {
  position: absolute;
  width: 100%;
  top: 87%;
  z-index: 10;
}
 
.bottom-button-container {
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  z-index: 10;
  height: 70px;
  width: 70px;
  text-align: center;
  border: 2px solid;
  opacity: 0.8;
  -webkit-box-shadow: 0px 9px 32px 1px rgba(0, 0, 0, 0.8), 0 10px 3px rgba(0, 0, 0, 0.8), inset 0px 0px 20px 3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 9px 32px 1px rgba(0, 0, 0, 0.8), 0 10px 3px rgba(0, 0, 0, 0.8), inset 0px 0px 20px 3px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 9px 32px 1px rgba(0, 0, 0, 0.8), 0 10px 3px rgba(0, 0, 0, 0.8), inset 0px 0px 20px 3px rgba(0, 0, 0, 0.7), 0 -0.5px 3px rgba(0, 0, 0, 0.9);
  color: white;
}
 
.bottom-button-container i {
  text-shadow: 0 4px 3px black, 0 -0.5px 3px black;
  color: white;
}

/*Menu*/
#navWrap {
  height: 35px;
}
 
#nav {
  top: 0;
  width: 100%;
  height: 55px;
  position: fixed;
  padding: 10px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.5);
}
 
#nav a {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 1px black, 2px 2px 0px rgba(0, 0, 0, 0.15), 0 -0.5px 3px rgba(0, 0, 0, 0.9);
}
 
#nav li {
  display: inline;
  text-align: center;
}
 
#nav a:hover::before,
#nav a:hover::after {
  transition: transform 0.3s, opacity 0.6s;
  opacity: 1;
}
 
#nav a::before,
#nav a::after {
  content: " | ";
  font-size: 18px;
  font-weight: bold;
  position: relative;
  top: -2px;
  padding-left: 10px;
  padding-right: 10px;
  opacity: 0;
}

 /*Typed Text*/
.intro-name {
  font-family: Raleway;
  font-size: 60px;
}
 
.intro-title {
  font-family: Raleway;
  font-size: 50px;
}
 
.typed-text {
  position: absolute;
  z-index: 9;
  height: 100;
  top: 35%;
  width: 99%;
}
 
.intro .container {
  position: relative;
  top: 320px;
}

/*Content*/
.content-container {
  font-family: Raleway;
  color: black;
  height: 100%;
  position: absolute;
  top: 100%;
  width: 100%;
}
 
.section1 {
  height: 400px;
}

.section1 h2::before,
.section1 h2::after {
  position: absolute;
  width: 80px;
  content: "";
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: 8px;
  top: 13px;
}
 
.section1 h2::before {
  margin-left: -90px;
}
 
.section1 h2::after {
  margin-left: 10px;
}
.section2,
.section4 {
  background-color: #E8E8E8;
  height: 450px;
}
 
.section1,
.section3 {
  background-color: #F8F8F8;
}
 
.footer {
  background-color: grey;
  background-image: linear-gradient(currentColor 1%, transparent 38%);
  background-size: 2px 2px;
  padding-top: 10px;
  padding-bottom:5px;
}
 
.section2 li {
  display: block;
}

 /*Animated Line*/
.line {
  background-color: black;
  width: 0;
  height: 10px;
}
 
 /*Social Icons*/
.icons-container {
  max-width: 300px;
  /*width:100%; dont need it because using bootstrap*/
  margin: auto;
  text-align: center;
  height: 50px;
}

.icons i {
  /*font-size: 70px;*/
}
 
#github {
  color: black;
}
 
#linkedin{
  color: #0E21F5;
  opacity:0.6;
}
#twitter {
  color: #50E8E2/*#66cbf9*/;
}

/*Contact Form */
form {
  margin: auto;
  max-width: 600px;
  text-align: center;
  padding: 60px;
  padding-top: 10px;
  padding-bottom: 20px;
}
 
input,
textarea {
  padding: 8px;
  font: 1em Sans-Serif;
  width: 98%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #999;
  border-radius: 2px;
  /*margin: auto;*/
  
  margin-left: 10px;
}
 
.field {
  width: 50%;
}
 
 #email, #name, #message{
  box-sizing:border-box;
  -moz-box-sizing: border-bbox;
  -webkit-box-sizing:border-box;
  border: 1px solid #C2C2C2;
  -moz-border:1px solid #C2C2C2;
  -webkit-border:1px solid #C2C2C2;
  border-radius: 4px;
  -moz-border-radius:  4px;
  -webkit-border-radius:  4px;
  padding:10px;
  box-shadow:0px 9px 12px 1px rgba(0, 0, 0, 0.4), 0 10px 3px rgba(0, 0, 0, 0.1), inset 0px 0px 6px 3px rgba(0, 0, 0, 0.1), 0 -0.5px 3px rgba(0, 0, 0, 0.1); 
  -moz-box-shadow:0px 9px 12px 1px rgba(0, 0, 0, 0.4), 0 10px 3px rgba(0, 0, 0, 0.1), inset 0px 0px 6px 3px rgba(0, 0, 0, 0.1), 0 -0.5px 3px rgba(0, 0, 0, 0.1); 
  -webkit-box-shadow:0px 9px 12px 1px rgba(0, 0, 0, 0.4), 0 10px 3px rgba(0, 0, 0, 0.1), inset 0px 0px 6px 3px rgba(0, 0, 0, 0.1), 0 -0.5px 3px rgba(0, 0, 0, 0.1); 
}
 
#email:focus, #name:focus, #message:focus{
  border: 1px solid blue;
}
 
textarea {
  height: 5em;
  resize: vertical;
  width: 99%;
}
 
.submit-button {
  padding-left: 0;
  padding-top: 21px;
}
 
#submit{
  border-top: 1px solid #96d1f8;
  background: #2677ad;
  background: -webkit-gradient(linear, left top, left bottom, from(#45a7e8), to(#2677ad));
  background: -webkit-linear-gradient(top, #45a7e8, #2677ad);
  background: -moz-linear-gradient(top, #45a7e8, #2677ad);
  background: -ms-linear-gradient(top, #45a7e8, #2677ad);
  background: -o-linear-gradient(top, #45a7e8, #2677ad);
  padding: 5px 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-shadow: rgba(0,0,0,0.9) 0 1px 0;
  color: white;
  text-decoration: none;
  vertical-align: middle;
  box-shadow: 0px 5px 12px 1px rgba(0, 0, 0, 0.4), 0 6px 3px rgba(0, 0, 0, 0.1), inset 0px 0px 6px 3px rgba(0, 0, 0, 0.2), 0 -0.5px 3px rgba(0, 0, 0, 0.9); 
}
 
#submit:hover {
  border-top-color: #28597a;
  background: #28597a;
  color: #fcfcfc;
  }
#submit:active {
  border-top-color: #1b435e;
  background: #1b435e;
  }
